#over20 {
    border: 2px solid red;
    background-color: #ffc7c7;
}

#under20 {
    border: 2px solid green;
    background-color: #ccffd7;
}

.jumbotron {
    text-align: center;
    margin-top: 10px;
}

#submitInfoBtn {
    position: absolute;
    bottom: 0px;
    width: 83%;
}

#table {
    margin-top: 15px;
}

h3 {
    text-align: center;
}